@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;500;600;700;800&display=swap');
:root {
    --color-primary: #57c7b6;
    --color-secondary: #002b5b;
}
* {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    color: var(--color-secondary)
}

a{
    color: inherit;
    text-decoration: none;
}

.main {
    display: none;
}

.title {
    text-align: center;
    padding: 10px;
    /* max-width: 1200px; */
    margin: 0 auto;
    color: var(--color-secondary);
}

label {
    color: var(--color-secondary);
    font-weight: 700;
}

input {
    outline: none;
    border: none;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 10px 20px;
    font-weight: 600;
    
}
.enterGame,
.type-game,
.waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #95a7e4; */
    background-color: var(--color-primary);
    width: 400px;
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.enterGame,
.waiting {
    display: none;
}
.enterGame > h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color-secondary)
}
.btn {
    /* background-color: #FF7C00; */
    background-color: var(--color-secondary);
    padding: 10px;
    width: 120px;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    font-weight: 800;
    transition: .5s;

}

.btn:hover {
    background-color: #1a5f7a;
    /* border-color: rgb(53, 53, 53); */
    border-color: white;
    /* color: rgb(53, 53, 53); */
    color: white;
}

.type-game > .btns {
    margin-top: 0;  
}

.main {
    /* background: #95a7e4; */
    /* background: var(--color-primary); */
    text-align: center;
    padding: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
    height: 100vh;
}

.main__sore {
    font-size: 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center
}

.main__score-bot {
    color:  #1783ad;
    font-weight: 700;
    font-size: 50px;
}

.main__score-you {
    color: #f14444;
    font-weight: 700;
    font-size: 50px;
}

.main__players {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 800px;
    gap: 40px;
    align-items: end;
    border: 12px solid var(--color-secondary);
    padding: 20px;
    background: var(--color-primary);
}

.main__players:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-secondary);;
    width: 12px;
    height: 100%;
}

.main__item {
    padding: 40px;
    font-weight: 700;
    font-size: 25px;
}

.item-you {
    margin-top: 20px;
}


.main__bot,
.main__you {
    background-color: #1783ad;
    color: white;
    font-size: 25px;
}



.main__you {
    background-color: #f14444;
}

.list-items {
    width: 200px;
    height: 32px;
    outline: none;
    font-size: 18px;
}

.btns {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .btn-exit {
    background: #1f47cc;
    transition: .5s;
} */

/* .btn-exit:hover {
    background: #5d77cc;
} */

.main__result {
    color: red;
    margin-top: 28px;
}