@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;500;600;700;800&display=swap');
/* :root {
    --color-primary: #57c7b6;
    --color-secondary: #002b5b;
    --color-button: 
} */
* {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    backdrop-filter: blur(4px);
    background-image:url(img/bg.webp);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-size: 35px;
    color: #0d2888;
}

a{
    color: inherit;
    text-decoration: none;
}

.main {
    display: none;
}

.title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 40px;
    color: #0b1f65;
    text-shadow: -3px 3px #435bb3;
}

label {
    color: var(--color-secondary);
    font-weight: 700;
}

input {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    
}
.enterGame,
.type-game,
.waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9eaf3;
    width: max-content;
    padding: 40px 30px;
    border-radius: 8px;
    border: 5px solid #435bb3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.enterGame,
.waiting {
    display: none;
}
.enterGame > h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color-secondary)
}
.btn {
    width: 200px;
    height: 50px;
    background-color: #7796f5;
    box-shadow: 0 5px 2px #435bb3;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 800;
    transition: .5s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: inset 0 2px 2px #435bb3;
    background-color: #6a8cf1
}

.type-game > .btns {
    margin-top: 0;  
}

.main {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
}

.main__score {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; 
    gap: 8px;
    align-items: center;
    background: #c9eaf3ab;
    padding: 10px;
    border: 3px solid #455bac;
}

.score {
    align-items: center;
    display: flex;
    gap: 10px;
    color: white;
    font-weight: bold;
}

.main__score-bot {
    color:  #6e8ce8;
    font-weight: 700;
    font-size: 50px;
}

.main__score-you {
    color: #ed6262;
    font-weight: 700;
    font-size: 50px;
}

.main__players {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 800px;
    gap: 80px;
    align-items: end;
    padding: 20px;
}

.main__players:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 100%;
}

.main__item {
    font-weight: 700;
}

.item-you, .main__item-bot {
    color: white;
    font-size: 50px;
    margin-top: 60px;
    backdrop-filter: blur(10px);
    padding: 20px 0;
    border: 3px solid white;
    border-radius: 12px;
}


.main__bot,
.main__you {
    background-color: #6e8ce8;
    border-radius: 8px;
    color: white;
    font-size: 25px;
    width: 40%;
}



.main__you {
    background-color: #ed6262;
}

.list-items {
    width: 200px;
    height: 32px;
    outline: none;
    font-size: 18px;
}

.btns {
    position: relative;
    bottom: -20%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-exit {
    background: #ed6262;
    box-shadow: 0 5px 2px #b34343;
    transition: .5s;
}

.btn-exit:hover {
    background: #cc5d5d;
    box-shadow: inset 0 2px 2px #b34343;
}

.main__result {
    color: red;
    margin-top: 28px;
}